<!DOCTYPE html>
<html lang="pl"/>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="System pozwalający na zamawianie przez internet.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ asset('/js/jquery-3.2.1.min.js')}}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700&amp;subset=latin-ext" rel="stylesheet">

    <script type="text/javascript" src="{{ asset('js/zegar.js') }}"></script>
    <script>
        window.onload=zegar;
    </script>

    {% block sources %}{% endblock %}
</head>
<body>
<div id="container">
    <header class="navbar">
        <div class="navbar-container">
            <div class="navbar-header">
                <a class="navbar-brand" id="logo" href='/'>
                    <img id="img" src="{{ asset('images/taca.png')}}"/>
                    <h3 id="logo-title">Projekt Restauracja</h3>
                </a>
            </div>
        </div>
        <div style="float: right; width: 50%">

            <div class="navbar-right">
                <a href="#">
                    {% if nameFirst is defined and nameLast is defined %}
                        <div class="inline">
                            <p id="przywitanie">Witaj {{ nameFirst }} <!--{{ nameLast }}-->!</p>
                        </div>
                    {% endif %}

                    <div class="inline">
                        <p id="przywitanie">{% if page_title is defined %}

                            {{ page_title }}

                            {% endif %}</title>
                            </p>
                    </div>


                    <div class="inline">
                        <div  id="zeg" class="zeg c"></div>
                    </div>
                    <br class="clearBoth">
                </a>
            </div>

        </div>
    </header>
    <div id="main">
        {% block main %}{% endblock %}
    </div>
    <footer id="cOrder">
        <details>
            <summary>Copyright 2018. All Rights Reserved &copy;</summary>
            <p>Śledź Kacper, Śmietana Jonasz, Skórska Ewa, Fułek Przemysław, PWr W8 ZTW - lab lato 2017/2018<p>
        </details>
    </footer>
</div>
</body>



