{% extends 'MVC/View/Layouts/main.html.twig' %}

{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/kelner_podglad_sali.css') }}"/>
    <script type="text/javascript" src="{{ asset('js/zegar.js') }}"></script>
    <script>
        window.onload=zegar;
    </script>

{% endblock %}

{% block main %}
    <div class="boix">
        <div class="zam">
            <div class="pZam">
                <div id="pZaP" class="c">Witaj {{ imie }}!<br> Twoja rola to {{  rola }}</div>
            </div>
        </div>

        <div class="kat">

            <div id="pKat" class="pKat" method="post">
                <form id="pKat" class="pKat" method="post">
                    {% for stolik in stoliki %}
                        <button class="cBattonKat c" type="submit" name="{{ stolik.IdStolika }}">
                            {{ stolik.IdStolika }}<br>
                            {{ stolik.NazwaStolika }}<br>
                        </button>
                    {% endfor %}
                </form>
            </div>
        </div>

    </div>


        <form class="my_form c">
            <input class="yII" type="button" value="Powrót" onclick="window.location.href='/staly_klient_logowanie';">
        </form>

{% endblock %}