{% extends 'MVC/View/Layouts/main.html.twig' %}

{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}"/>
    <script>
        let tCat = [];
        {% for kategoria in kategorie %}
        tCat[{{ kategoria.IdKategorii }}] = {"id":{{ kategoria.IdKategorii }}, "NazwaKategorii":"{{ kategoria.NazwaKategorii }}", "KolorKategorii":"{{ kategoria.KolorKategorii }}"};
        {% endfor %}

        let tMI = [];
        {% for pMenu in menu %}
        tMI[{{ pMenu.IdProduktu }}] = {"idK":{{ pMenu.IdKategorii }}, "idP":{{ pMenu.IdProduktu }}, "NazwaProduktu":"{{ pMenu.NazwaProduktu }}", "CenaBrutto":{{ pMenu.CenaBrutto }}, "Opis":"{{ pMenu.Opis }}", "StawkaVAT":{{ pMenu.StawkaVAT }} };
        {% endfor %}
    </script>

{% endblock %}

{% block main %}
    <div id='mainBox'>
        <div id='categoryMainBox'>
            <div id="nKat"></div>
            <div id="pKat"></div>
        </div>
    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/menu.js') }}"></script>
    <div>
        <form class="my_form c">
            <button class="yII" type="button" onclick="window.location.href='/';">Powrót</button>
        </form>
    </div>
{% endblock %}

