{% extends 'MVC/View/Layouts/main.html.twig' %}

{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/podglad_sali.css') }}"/>
    <script type="text/javascript" src="{{ asset('js/zegar.js') }}"></script>
    <script>
        window.onload=zegar;
    </script>

{% endblock %}

{% block main %}

    <div class="elems">
        {% for stolik in stoliki %}
            <button class="cBattonKat c">
                Nr stolika: {{ stolik.IdStolika }}<br>
                Liczba miejsc: {{ stolik.LiczbaMiejsc }}<br>
                Nr sektora: {{ stolik.IdSektora }} <br>
                <p class="tableName">{{ stolik.NazwaSektora }}</p>
                {% if stolik.Aktywny == 1 %}
                    <p style="color: #2da912; font-size: larger; text-shadow: -1px 0 #c9c9c9, 0 1px #c9c9c9, 1px 0 #c9c9c9, 0 -1px #c9c9c9;">Dostępny </p>
                {% else %}
                    <p style="color: red; font-size: larger; text-shadow: -1px 0 darkgray, 0 1px darkgray, 1px 0 darkgray, 0 -1px darkgray;">Niedostępny </p>
                {% endif %}
            </button>
        {% endfor %}
    </div>
    <div>
        <form class="my_form c">
            <input class="yII" type="button" value="Powrót" onclick="window.location.href='/';">
        </form>
    </div>

{% endblock %}