{% extends 'MVC/View/Layouts/main.html.twig' %}

{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/produkty_kategorii.css') }}"/>
    <script type="text/javascript" src="{{ asset('js/zegar.js') }}"></script>
    <script>
        window.onload=zegar;
        // function mouseOver(text) {
        //     document.getElementById("produkt").style.color= "red";
        // }
        //
        // function mouseOut() {
        //     document.getElementById("produkt").style.color= "black";
        // }
    </script>

{% endblock %}

{% block main %}

    <div class="boix">

        <div class="kat">
            <button class="cBattonNavKat"  >{{ nazKat }}</button>
            <div id="nKat" class="nav"></div>
            <form id="pKat" class="pKat">
                {% for produkt in produkty %}
                    <button class="cBattonKat" id="produkt" onmouseover="mouseOver(produkt.Opis )" onmouseout="mouseOut()"  >{{ produkt.NazwaProduktu }}</button>
                {% endfor %}
            </form>
        </div>
    </div>

    <form class="my_form c">
        <input class="yII" type="button" value="Powrót" onclick="window.location.href='/menu';">
    </form>

{% endblock %}

