{% extends 'MVC/View/Layouts/main.html.twig' %}

{% set page_title = 'Nowa rezerwacja' %}

{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}"/>
    <script>
        let aSectors = [];
        {% for sc in sectors %}
        aSectors[{{ sc.IdSektora }}] = "{{ sc.NazwaSektora }}";
        {% endfor %}
    </script>

{% endblock %}

{% block main %}

    <div class="c">
        <span>{{ err }}</span>
        <form id="fNewReservation" action="" method="post">
            <label for="date" class="opis">*Data:</label><input id="date" class="yI" type="date" name="date" required/><br/>
            <label for="time" class="opis">*Godzina: </label><input id="time" class="yI" type="time" name="time" required/><br/>
            <label for="numberOfPeople" class="opis">*Liczba osób: </label><input id="numberOfPeople" class="yI" type="number" name="numberOfPeople" required/><br/>
            <label for="visitTime" class="opis">Planowy czas wizyty: </label><input id="visitTime" class="yI" type="time" name="visitTime" /><br/>
        </form>

        <button id="selectTable" class="yII">Wybierz stolik</button><br/><br/>

        <label for="sector" class="opis">*Proszę wybrać sektor:</label> <select id="sector" class="yI" name="sector"></select><br/>
        <label for="tableNumber" class="opis">*Numer stolika: </label><input id="tableNumber" class="yI" type="number" name="tableNumber" required><br/>
    </div><br/>

    <button id="submitButton" class="backButton">Zatwierdź</button><br><br>
    <button id="backButton" class="backButton">Powrót</button>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/reservationsNew.js') }}"></script>
{% endblock %}

