{% extends 'MVC/View/Layouts/main.html.twig' %}


{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/staly_klient_zaloz_konto.css') }}"/>
    <script type="text/javascript" src="{{ asset('js/zegar.js') }}"></script>
    <script>
        window.onload=zegar;
    </script>

{% endblock %}

{% block main %}
    <div>
        <form class="my_form c" action="/staly_klient_zaloz_konto" method="post">
            <span>{{ err }}</span>
            <input class="yI" type="email" name="email" placeholder="E-mail" value="{{ email }}" maxlength="30" autocomplete="off" required><br/>
            <input class="yI" type="text" name="imie" placeholder="Imię" value="{{ imie }}" maxlength="32" autocomplete="off" required><br/>
            <input class="yI" type="text" name="nazwisko" placeholder="Nazwisko" value="{{ nazwisko }}" maxlength="32" autocomplete="off" required><br/>
            <input class="yI" type="password" name="haslo" placeholder="Haslo" value="" autocomplete="off" minlength="8" required><br/>
            <input class="yII" type="submit" value="Stwórz konto"><br/>
            <input class="yII" type="button" value="Powrót" onclick="window.location.href='/staly_klient_logowanie';">
            ;
        </form>
        <div id="zeg" class="zeg"></div>
    </div>
{% endblock %}
