{% extends 'MVC/View/Layouts/main.html.twig' %}


{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <script type="text/javascript" src="{{ asset('js/zegar.js') }}"></script>
    <script>
        window.onload=zegar;
    </script>
    <style>
        .nf
        {
            text-align: right;
            font-size: 20px;
            width: 60px;
            position: relative;
            display: inline-block;
        }

        span
        {
            margin-left: 45%;
            margin-top: 5px;
            text-align: center;
            display: block;
            width: 200px;
            font-size: 18px;
            max-width: 400px;
            color: #AA0000;
        }

        span:empty
        {
            visibility: hidden;
            min-height: 0px;
        }

        .my_form
        {
            min-height: 300px;
        }

        .zeg
        {
            margin-top: 30px;
            margin-bottom: 53px;
            z-index: 1;
            margin-left: 45%;
            width: 10%;
            display: block;
            text-align: center;
            position: relative;
            color: black;
            font-size: 20px;
        }

        .yII
        {
            font-size: 20px;
            padding: 7px;
            padding-right: 15px;
            padding-left: 15px;
            border-radius: 20px;
            background-color: red;
            margin-top: 20px;
            border-style: none;
            box-shadow: 3px 3px #AA000088;
        }
    </style>
{% endblock %}

{% block main %}
    <header>
        <p class="tytul">Projekt Restauracja</p>
    </header>

    <div>
        <form class="my_form c" action="/staly_klient_zaloz_konto" method="post">
            <span>{{ err }}</span>
            <div class="nf">e-mail:</div>
            <input class="yI" type="email" name="email" value="{{ email }}" maxlength="30" autocomplete="off" required><br/>
            <div class="nf">imię:</div>
            <input class="yI" type="text" name="imie" value="{{ imie }}" maxlength="32" autocomplete="off" required><br/>
            <div class="nf">nazwisko:</div>
            <input class="yI" type="text" name="nazwisko" value="{{ nazwisko }}" maxlength="32" autocomplete="off" required><br/>
            <div class="nf">hasło:</div>
            <input class="yI" type="password" name="haslo" value="" autocomplete="off" minlength="8" required><br/>
            <input class="yII" type="submit" value="Stwórz konto"><br/>
            <input class="yII" type="button" value="Powrót" onclick="window.location.href='/staly_klient_logowanie';">
        </form>
        <div id="zeg" class="zeg"></div>
    </div>
{% endblock %}
