{% extends 'MVC/View/Layouts/main.html.twig' %}

{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/zamowienie.css') }}"/>
    <script>
        let order = [];
        {% for pz in rachunek %}
            order.push({"NazwaProduktu":"{{ pz.NazwaProduktu }}", "opis":"{{ pz.Opis }}", "CenaBrutto":{{ pz.CenaBrutto }}, "StawkaVAT":{{ pz.StawkaVAT }}, "LiczbaProduktow":{{ pz.LiczbaProduktow }}, "StanRealizacji":{{ pz.StanRealizacji }}});
        {% endfor %}
    </script>

{% endblock %}

{% block main %}
    <div id="cover"></div>
    <div class="box">
        <div class="kat">
            <div id="pKat" class="pKat"></div>
        </div>
    </div>
    <div>
        <button id="addOrder" class="f1Batton">Dodaj zamówienie</button>
        <button id="pay" class="f2Batton">Zapłać</button>
    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/summary.js') }}"></script>
{% endblock %}

