{% extends 'MVC/View/Layouts/main.html.twig' %}

{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/zamowienie.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/menu.css') }}"/>
    <script>
        let log_address = "{{ log_adres }}";
        let order = [];
        {% for pz in order %}
        order.push({"idPM":"{{ pz.IdPozycjiMenu }}", "LiczbaProduktow":{{ pz.LiczbaProduktow }}});
        {% endfor %}

        let tCat = [];
        {% for kategoria in kategorie %}
        tCat[{{ kategoria.IdKategorii }}] = {"id":{{ kategoria.IdKategorii }}, "NazwaKategorii":"{{ kategoria.NazwaKategorii }}", "KolorKategorii":"{{ kategoria.KolorKategorii }}"};
        {% endfor %}

        let tMI = [];
        {% for pMenu in menu %}
        tMI[{{ pMenu.IdPozycjiMenu}}] = {"idK":{{ pMenu.IdKategorii }}, "idPM":{{ pMenu.IdPozycjiMenu }}, "NazwaProduktu":"{{ pMenu.NazwaProduktu }}", "CenaBrutto":{{ pMenu.CenaBrutto }}, "Opis":"{{ pMenu.Opis }}", "StawkaVAT":{{ pMenu.StawkaVAT }} };
        {% endfor %}
    </script>

{% endblock %}

{% block main %}
    <div id="cover"></div>
    <div class="boix">
        <div class="zam">
            <button id="sub1" class="cBattonNavZam">Zamówienie</button>
            <div class="pZam">
                <div id="pZaP" class="greeting">Witaj, {{ imie }}!<br>Tutaj będą się pojawiały<br>Twoje zamówienia.</div>
                <div id="pZaA"></div>
                <div id="pZaR"></div>
            </div>
        </div>

        <div class="kat">
            <div id="nKat" class="nav"></div>
            <div id="pKat" class="pKat"></div>
        </div>
    </div>
    <div>
        <div id="zeg" class="zeg"></div>
        <button id="sub2" class="f1Batton">Podsumowanie</button>
        <button id="zamStart" class="f2Batton">Anuluj zamówienie</button>
    </div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/menu.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/order.js') }}"></script>
{% endblock %}

