{% extends 'MVC/View/Layouts/main.html.twig' %}

{% block sources %}
    <title>Projekt Restauracja</title>
    <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/zamowienie.css') }}"/>
    <script>
        let log_address = "{{ log_adres }}";
        let payment = "{{ payment }}";
        let order = [];
        {% for pz in rachunek %}
            order.push({"NazwaProduktu":"{{ pz.NazwaProduktu }}", "opis":"{{ pz.Opis }}", "CenaBrutto":{{ pz.CenaBrutto }}, "StawkaVAT":{{ pz.StawkaVAT }}, "LiczbaProduktow":{{ pz.LiczbaProduktow }}, "StanRealizacji":{{ pz.StanRealizacji }}});
        {% endfor %}
    </script>

{% endblock %}

{% block main %}
    <div id="cover"></div>
    <div class="b20px">
        Dziękujemy za wizytę w naszej restauracji. Mamy nadzieję, że wszystko Państwu smakowało, zaraz do Państwa podejdzie kelner z rachunkiem.
    </div>
    <br>
    <div id="platnosc" class="b20px"></div>
    <button id="summary" class="f1Batton">Podgląd rachunku</button><br>
    <button id="end" class="f2Batton">Zakończ</button>
    <div id="zeg" class="zeg"></div>
    <script type="text/javascript" src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/end.js') }}"></script>
{% endblock %}

